.first-image{
    background-image: url('../assets/images/taxi.jpg');
    height: 90vh;
    background-size: cover;
    background-position: 0% 90%;
    background-repeat: no-repeat;
}

.third-image{
    background-image: url('../assets/images/conduce.jpg');
    height: 50vh;
    background-size: cover;
    background-position: 80% 60%;
    background-repeat: no-repeat;
}
.navbar{
    height: 10vh;
}

.yellow{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.center{
    top: 15vh;
}

.center-2{
    top: 8vh;
}

.logo-s{
    height: 3vh;
}

.text-p1{
    font-size: 2rem;
    margin-top: -2rem;
}

.size-full{
    height: 100vh;
}

.second-image{
    height: 55vh;
}

.text-p2{
    font-size: 1.5rem;
}

.white-opacity{
    background-color: rgb(0, 0, 5, 0.6);
}

.map{
    height: 35vh;
}

.t-size{
    font-size: 1.5rem;
}

.map2{
    height: 70vh;
}

input{
    border-radius: 15px;
}

.bg-secondary{
    height: 80vh;
}

.img-fluid{
    width: 25vh;
}
.red{
    color: red;
}

.img-map{
    height: 32vh;
    margin-top: .5rem;
    margin-left: .4rem;
}
.img-map2{
    height: 67vh;
    margin-top: .5rem;
    margin-left: 2rem;
}