.first-image{
    background-image: url('../assets/images/taxi.jpg');
    height: 90vh;
    background-size: cover;
    background-position: 0% 90%;
    background-repeat: no-repeat;
}

.third-image{
    background-image: url('../assets/images/conduce.jpg');
    height: 50vh;
    background-size: cover;
    background-position: 80% 60%;
    background-repeat: no-repeat;
}
.navbar{
    height: 10vh;
}

.yellow{
    background-color: yellow;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.center{
    top: 15vh;
}

.center-2{
    top: 8vh;
}

.logo-s{
    height: 3vh;
}

.text-p1{
    font-size: 2rem;
    margin-top: -2rem;
}

.size-full{
    height: 100vh;
}
.yellow-gt{
    background-image: linear-gradient(red, yellow);
}

.yellow-gl{
    background-image: linear-gradient(to left, red, yellow);
}

.second-image{
    height: 55vh;
}

.text-p2{
    font-size: 1.5rem;
}

.white-opacity{
    background-color: black;
    opacity: 0.6;
}

.center-3{
    top: 8vh;
}